@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Rubik+Vinyl&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-color: #F38F03;
  --secondary-color: #28783E;
  --light-green: #0FA958;
}

/* ---navbar */
/* ul  {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

li  {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
} */